.containerFull {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: white;
    transition: background-color 1s;
    -webkit-transition: background-color 1s;

}

.suggestList {
    margin: 0px;
}

.suggestList li {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: auto;
    /*border: none;*/
}

.suggestContainer {
    overflow-y: auto;
    max-height: 70%;
}

.colorSwatch {
    width: 20px;
    height: 20px;
    border-radius: 100%;
}

